* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
 background:linear-gradient(135deg , rgb(81, 0, 151) , rgb(94, 94, 95));    padding: 20px;
    line-height: 1.6;
}
.menu-dark {
  background: linear-gradient(135deg, rgb(98,98,98), rgb(94,94,95));
  color: white;
}

.light-bg {
  background: white;
}

.menu {
    max-width: 800px;
    margin: 0 auto;
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

header {
    text-align: center;
    margin-bottom: 40px;
    padding-bottom: 20px;
    border-bottom: 2px solid #e0e0e0;
}

h1 {
    color: #8B4513;
    margin-bottom: 10px;
    font-size: 2.5rem;
}

h2 {
    color: #D2691E;
    margin: 30px 0 15px 0;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}
 

.category {
    margin-bottom: 30px;
}

.item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
    padding-bottom: 15px;
    border-bottom: 1px dashed #ddd;
}

.item-name {
    font-weight: bold;
    color: #333;
}

.item-price {
    color: #8B4513;
    font-weight: bold;
}

footer {
    text-align: center;
    margin-top: 40px;
    padding-top: 20px;
    border-top: 2px solid #e0e0e0;
    color: #666;
    font-size: 0.9rem;
}
button{
    margin-right: 100px;
    margin-left: 100px;
    width: 150px;
    border-radius: 10px;
    font-size: 16px;
    position: relative;
    color: #d15b06;
    padding: 10px;
    cursor: pointer;
    transition: all .3s;
    font-weight: bold;
    background:linear-gradient(135deg , rgb(74, 0, 138) , rgb(49, 49, 49));
}
button:hover{
    transform: translateY(-5px);
    color: #ff6a00;
}

 @media (max-width: 600px) {
    .menu {
        padding: 20px;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .item {
        flex-direction: column;
    }
    
    .item-price {
        margin-top: 5px;
        color: #D2691E;
    }
}